<div class="key"></div>
<p class="byline brandon">Invite friend & get $5 off for every friend who log in</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
  <input class="submit brandon" name="commit" type="submit" value="LOGIN" />
<% end %>