<h1 style="text-align: center; font-size: 30px;">ionboard</h1>
<h1 style="text-align: center; font-size: 30px;">Premium electric skateboard for all. $349 for kickstarter.</h1>
<p class="byline brandon">Invite friend & get discount</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
  <input class="submit brandon" name="commit" type="submit" value="LOGIN" />
<% end %>