

<p>
  <strong style="font-weight: bold;">Ionboard Privacy Policy</strong>
</p>
<p class="p1"><span class="s1">This privacy notice discloses the privacy practices for&nbsp;<a href="http://www.ionboardtech.com"><span class="s2">www.ionboardtech.com</span></a></span><span class="s3">.</span> <span class="s1">This privacy notice applies solely to information collected by this website. It will notify you of the following:</span></p>
<p class="p2"><span class="s1">1. What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.</span></p>
<p class="p2"><span class="s1">2. What choices are available to you regarding the use of your data.</span></p>
<p class="p2"><span class="s1">3. The security procedures in place to protect the misuse of your information.</span></p>
<p class="p2"><span class="s1">4. How you can correct any inaccuracies in the information.</span></p>
<p class="p3">&nbsp;</p>
<p class="p1"><span class="s5"><strong style="font-weight: bold;">Information Collection, Use, and Sharing</strong></span><span class="s1">&nbsp;<br /> We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</span></p>
<p class="p4"><span class="s1">We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</span></p>
<p class="p4"><span class="s1">Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</span></p>
<p class="p1"><span class="s5"><strong style="font-weight: bold;">Your Access to and Control Over Information</strong></span><span class="s1">&nbsp;<br /> You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:</span></p>
<p class="p2"><span class="s1">1. See what data we have about you, if any.</span></p>
<p class="p2"><span class="s1">2. Change/correct any data we have about you.</span></p>
<p class="p2"><span class="s1">3. Have us delete any data we have about you.</span></p>
<p class="p2"><span class="s1">4. Express any concern you have about our use of your data.</span></p>
<p class="p3">&nbsp;</p>
<p class="p1"><span class="s5"><strong style="font-weight: bold;">Security</strong></span><span class="s1">&nbsp;<br /> We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</span></p>
<p class="p4"><span class="s1">Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.</span></p>
<p class="p4"><span class="s1">While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</span></p>
<p class="p5"><span class="s5"><strong style="font-weight: bold;">Orders</strong></span><span class="s1">&nbsp;<br /> We request information from you on our order form. To buy from us, you must provide contact information (like name and shipping address) and financial information (like credit card number, expiration date). This information is used for billing purposes and to fill your orders. If we have trouble processing an order, we'll use this information to contact you.</span></p>
<p class="p6">&nbsp;</p>
<p class="p5"><span class="s5"><strong style="font-weight: bold;">Cookies</strong></span><span class="s1">&nbsp;<br /> We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance the experience on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site.</span></p>
<p class="p3">&nbsp;</p>
<p class="p2"><span class="s1"><strong style="font-weight: bold;">If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at&nbsp;</strong></span><span class="s3"><strong style="font-weight: bold;">714-398-7867</strong></span><span class="s1"><strong style="font-weight: bold;"> or email: business@ionboardtech.com.</strong></span></p>