@font-face {
    font-family: 'FontFPD';
    src: asset_url('FontFPD.eot?ogkrv9');
    src: asset_url('FontFPD.eot?ogkrv9#iefix') format('embedded-opentype'), asset_url('FontFPD.ttf?ogkrv9') format('truetype'), asset_url('FontFPD.woff?ogkrv9') format('woff'), asset_url('FontFPD.svg?ogkrv9#FontFPD') format('svg');
    font-weight: 400;
    font-style: normal
}